body {
    margin: 0;
    overflow: hidden;
  }

  .santa {
    width: 140px; /* ajusta el tamaño según tu imagen */
    height: 130px;
    background-image: url("papaNoel_sprite.png");
    animation: imagen 2s steps(10) infinite;
  }

  @keyframes imagen {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1500px 0; /* ajusta según el ancho total de tu sprite */
    }
  }
